.all-complaints{
    margin-left: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.complaint-title{
    /* font-size: 20px; */
    text-align: center;
    margin-top: 20px;
}
.compType{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 10px;
    height: 20px;
}


.btn-1 {
    background-color: #0c75ff;
    color: #ffffff;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 16px;
    width: auto;
    border: none;
}

.btn-1:active {
    border: none;
    background: white;
}

.btn-1:focus {
    outline: none;
    background: wheat;
}

.btn-2 {
    background-color: #000;
    color: #ffffff;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 16px;
    width: auto;
    border: none;
}

.card-1 {
    padding: 16px;
}

p {
    font-size: 14px;

}

.textarea-1 {
    font-size: 14px;
    padding: 8px;
}

.textarea-1:focus {
    border-color: #0c75ff;
}

.desc{
    background-color: rgb(241, 242, 244);
    border-radius: 5px;
    padding: 3px 10px;
}

.class-3d{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.all-complaints{
    background-color: #393939;
    color: #ffffff;
}
.solved-complaints{
    background-color: rgb(79, 145, 79);
    color: white;
}
.pending-complaints{
    background-color: rgb(88, 88, 237);
    color: #ffffff;
}
.rejected-complaints{
    background: rgb(233, 80, 80);
    color: #ffffff;
}

.invisible{
    visibility: hidden;
    height: 0;
    
}
.visible{
    background-color: rgb(232, 231, 220);
    padding: 3px 10px;
    border-radius: 5px;
}

.red{
    color: red;
}
.green{
    color:green
}
.blue{
    color: blue;
}
.grey{
    color:gray
}
.no-record-image{
    width: 400px;
    height: auto;
}
.no-record{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}