.parent-about{
    margin: 10px 10px;
}
.content-about{
    font-size: 20px;
    padding: 0px 30px;
}
.display-4{
    padding: 10px;
    font-size: 32px;
}
.about{
    margin: 100px 50px 0px;
}
.head-about{
    font-weight: 500;
}
br{
    margin-bottom: 0px;
}

@media (max-width: 664px){
    .about{
        margin: 60px 10px 0px;
    }
    .content-about{
        font-size: 14px !important;
        margin-top: 10px;
        padding: 0px 10px;
   }
    .display-4{
        font-size: 20px;
        padding: 10px;
        margin: 0px;
    }
}
