.form{
    border: 1px rgb(217, 217, 217) solid;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 35px 50px;
    border-radius: 24px;
    box-shadow: 1px 2px 2px ;
}
.input-field{
    margin-bottom: 20px;
}
.switch-account{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.reset-password{
    margin-top: 20px;
}
.switch-account a{
    color: black;
}
.signup-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.admin-login{
    display: flex;
    justify-content: center;
}
.exist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    align-items: center;
    gap: 5px;
}
.login-link{
    height: 20px;
    text-decoration: none;
}
.create-button{
    margin-top: 20px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.container-f{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
input{
    height: 30px;
    outline: none;
    width: 100%;
}
.spin-div{
    margin-top: 5px;
    display: flex;
}
.spin{
    margin-right: 10px;
}
.account-type{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 500;
}
.go-back{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 664px){
    .form{
        width: 300px;
        margin-top:80px;
        padding: 35px 30px;
    }
    .reset-password{
        margin-top: 15px;
    }
}
