.banner{
    height: 700px;
    background-color: rgb(100, 149, 237);
    padding-top: 100px;
    border-radius: 4px;
}
.wrapper{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.left{
    color: white;
    font-size: 70px;
}

.feature{
    justify-content: start;
    display: flex;
    flex-direction: row;
}
.parent-feature{
    margin-left: 55px;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
.button{
    color: white;
    height: 40px;
    font-size: 20px;
    width: auto;
    margin-top: 40px;
    padding: 4px 16px 4px;
    border-radius: 28px;
    background-color: rgb(63, 109, 194);
    box-shadow: -1px 1px 10px rgba(118, 135, 169, 0.75)
}
.right{
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.r-tag{
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 400px;
    margin-left: 80px;
    border-radius: 16px;
    padding-top: 8px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75)
}
.head{
    height: 25px;
    margin-top: 10px !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.abc{
    background-color: rgb(39, 39, 34);
    column-rule: rgb(56, 56, 191);
}
.dash-wrapper{
    
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75)
}
.wrapper-t{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}