*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Jost", sans-serif;
}
html{
    font-size: 62.5%;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0 5px;
}
a{
    text-decoration: none;
    font-size: medium;
}
.link{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-section{
    text-align: center;
    margin-top: 100px;
}
.main-nav{
    width:100%;
    height: 6rem;
    display: grid;
    grid-template-columns: 12rem 1fr 3fr 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -10px,
    rgba(0, 0, 0, 0.3) 0px 20px 50px -10px;
}
p{
    font-size: 20px !important;
}
h2{
    font-size: 30px;
    color: rgb(55, 76, 170);
    /* text-shadow: -1px 1px 10px rgba(118, 135, 169, 0.75) */
}
.logo{
    display:grid;
    background-color: rgb(255, 255, 255);
    grid-column: 2/3;
    justify-content: start;
    font-size: 20px;
    align-items: center;
    text-align: center;
}
.menu-link{
    grid-column: 3/4;
    
}
.menu-link ul{
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-link ul li:hover > a{
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    text-decoration: underline;
    transition: 0.5s;
}
.dropdown-1{
    font-size: 15px;
    width: 70px !important;
    height: 40px;
}
#logout{
    width: 70px;
    height: 40px;
    font-size: 16px;
}
.social-media{
    grid-column: 4/5;
}
.social-media ul{
    height: 6rem;
    display: grid;
    align-items: center;
    justify-content: flex-end;
    /* grid-template-columns:  repeat(2, 1fr); */
}
.social-media ul li:first-child{
    grid-column: 2/3;
}
.social-media ul li{
    text-align: right;
}
.hamburger-menu{
    display: none;
}

.active{
    border-bottom: 1px solid b;
}

@media (max-width:1080px){
    .main-nav{
        height: 4rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
    .logo,
    .menu-link ul,
    .social-media ul{
        height: 4rem;
    }
    .hamburger-menu{
        display: none;
    }
}
@media (max-width:998px){
    .main-nav{
        height: 4rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
    .social-media{
        display: none;
    }
    .logo{
        height: 4rem;
    }
    .mobile-menu-link{
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }
}
@media (max-width:664px){
    .main-nav{
        height: 4rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
    .menu-link{
        display: none;
    }
    .logo, .social-media ul{
        height: 4rem;
    }
    .mobile-menu-link{
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }
    .mobile-menu-link{
        background-color: white;
        height: 15rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -10px,
        rgba(0, 0, 0, 0.3) 0px 20px 50px -10px;
    }
    .mobile-menu-link ul {
        height: 15rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
      }
    
      .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
      }
    
      .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
      }
    .social-media .social-media-desktop{
        height: 0;
        display: none;
    }
    .social-media{
        height: 4rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }
    .social-media .hamburger-menu{
        display: block;
        font-size: 2.5rem;
    }
}
button.link{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    color: rgb(55, 76, 170);
    text-shadow: -1px 1px 10px rgba(118, 135, 169, 0.75)
}